.selected{
    background-color: #000;
    color: white !important;
}
.swiper img{
    width: 100%;
    height: 81vh;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev::after {
    content: 'next';
    font-size: 16px;
    color: grey;
    position: absolute;
    right: 20px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 16px;
    color: grey;
    position: absolute;
    right: 4px;
}
#main{
   width: 100%;
}
.search-box{
    width: 90%;
    height: 140px;
    margin: 16px auto;
    display: block;;
    box-shadow: 0 0 19px #cdc4c4
}

.title-searh-box{
    text-align: center;
    width: 100%;
    position: relative;
    top: 15px;
}
.form-search-box{
    position: relative;
    top: 30px;
    right: 20px;
    width: 95%;
    border-bottom: 1px solid grey;
    padding: 0px 20px;
}

input.input-search-box {
    border: none;
    width: 96%;
    margin: 0px 0px;
    outline: none;
}
button.btn-search-box {
    border: none;
    background-color: transparent;
    position: relative;
    right: 20px;
}
section.offer {
    width: 85%;
    margin: 0 auto;
}
.top-offer {
    position: relative;
    padding: 20px 0;
}
.title-offer{
    position: absolute;
    color: #575757;
    font-size: 22px;
}
.top-line-offer{
    position: absolute;
}
.navbar-offer{
   position: absolute;
   left: 0;
}
.item-offer{
    display: inline-block;
    list-style-type: none;
    margin-right: 16px;
}
.item-offer a:hover{
    background-color: #000;
    color: white;
}
.item-offer a{
    text-decoration: none;
    color: #000;
    padding: 7px 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .3s
}
span.top-line-offer {
    width: 30%;
    height: 1px;;
    position: absolute;
    right: 135px;
    top: 31px;
    background: linear-gradient(90deg,#fff,#dadada,#dadada,#dadada,#dadada,#dadada,#fff);
}
.cards{
    width: 80%;
    margin: 30px auto;
    background-color: white;
}
.first-card{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.card{
    margin: 16px;
    width: 20%;
    display: inline-block;
    position: relative;
    transition: transform .5s;
}
.figurecard,
.image-card{
  width: 100%;
  height: auto;
}
.image-card{
    height: 200px;
}
p.price{
    margin: 15px 0;
    text-align: center;
    color: red;
}
button.log_in{
    transition: all .5s;
    background-color: black;
    margin: -34px 9px 20px -201px;
    color: white;
    padding: 10px 28px 27px 26px;
    left: 75px;
    top: 34px;
    bottom: 602px;
}
.des-card_hover{
    position: absolute;
    width: 100%;
    background-color: white;
    transform: scaleY(0);
    top: 175px;
    right: 0%;
    transition: transform .2s;
}
.title-card{
    text-align: center;
    margin-bottom: 15px;
}
.buy{
    background-color: black;
    color: white;
    padding: 6px 15px;
    position: relative;
    right: 35px;
}
.card:hover .des-card_hover{
    transform: scale(1) ;
     transform-origin: x;
}
.des-card{
    padding: 10px;
}
output#__BVID__1040 {
    position: relative;
    left: 20px;
    padding: 0px;
    top: 3px;
}
span {
    position: relative;
    left: 0px;
}
.product-rate.d-flex.align-items-center.justify-content-center {
    position: relative;
    right: 26px;
}
span.b-rating-star.flex-grow-1.b-rating-star-empty {
    position: relative;
    right: 16px;
    padding: 2px;
}
svg.bi-star.b-icon.bi {
    position: relative;
    padding: 2px;
    right: 1px;
    color: grey;
}
.fontsize11 {
    font-size: 8px;
    color: grey;
}
.text-center {
    text-align: center!important;
}
.recommended-products-more {
    transition: .3s;
}
.bg-color-theme {
    background-color: black
}
.px-3 {
    padding-right: 1rem!important;
}
.btn-card {
    width: 85%;
}
button.see-all-card {
    position: absolute;
    padding: 6px 10px;
    background-color: black;
    left: 46%;
    border: none;
    margin: -8px 0;
}
a.link-see-card {
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.see-all-card:hover{
    background: rgb(60, 59, 59);
    transition: all .3s;
}
h3.search-idea {
    font-size: xx-large;
}
@media only screen and (max-width:810px) {
    #main{
       margin-top: 20px 0;
    }
    .search-box{
        font-size: 18px;
    }
    .search-idea{
    text-align: center;
    }
    .form-search-box{
        display: flex;
    }
    .top-line-offer{
        display: none;
    }
    .first-card{
      width: 90%;
      margin: 0 auto;
    }
    .card{
        width: 200px;
        height: 340px;
        opacity: 2;
    }
    .des-card_hover{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .button {
        width: 100%;
    }
    .button {
        text-align: center;
        width: 65%;
    }
}
@media only screen and (min-width:380px) and ( max-width:650px) {
    .offer{ 
        height: 60px;
        position: relative;
    }
    .top-offer{
        width:100%;
    }
    .navbar-offer {
        position: absolute;
        bottom: 0;
    }
}

